@import "tailwindcss";

:root {
  --color-primario: #0a2c40;
  --color-secundario: #3c5a6f;
  --color-acento: #e6dccf;
  --color-textoCarbon: #1a1f23;
  --color-fondo: #eef1f2;
}

@theme {
  /* colores personalizados */
  --color-primario: #0d2b3e;
  --color-secundario: #3c5a6f;
  --color-acento: #e6dccf;
  --color-textoCarbon: #1a1f23;
  --color-fondo: var(--color-fondo);

  /* fuentes */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background: var(--background);
  font-family: var(--font-sans);
}
